<!DOCTYPE html>
<html>
<head>
<style>
    .story-link:link {
        color: black;
    }
    .story-link:visited {
        color: black;
    }
    .story-link:hover {
        color: gray;
    }
    body {
        font: Montserrat, sans-serif;
        line-height: 1.8;
     }
</style>
</head>

<body>
<div class="col-10 offset-1 container-fluid" style="padding: 10px">
    <div class="row">
        <div class="col-2 text-center">
            <h1>Stories</h1>
        </div>
        <div class="col-9" style="padding-top: 18px">
            <div class="form-group row">
                <div class="col-10">
                    <form action="/story/">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select class="form-control" id="type" name="search_type">
                                    <option value="title" name="title">title</option>
                                    <option value="author" name=author>author</option>
                                    <option value="genre" name="genre">genre</option>
                                </select>
                            </div>
                            <input class="form-control" type="text" name="search_term">
                            <div class="input-group-append">
                                <input class="form-control" type="submit" value="Search">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <form action="/story/" style="display:inline-block">
                        <input class="form-control" type="submit" value="Clear Searches">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-10 offset-1 container-fluid" style="padding-bottom: 50px">
    <table class="table">
        <thead>
            <tr>
                <th> Title </th>
                <th> Author </th>
                <th> Genre </th>
                <th> Tags </th>
            </tr>
        </thead>
        <tbody>
            <% @stories.each do |story| %>
                <tr>
                    <td>
                        <%= link_to(story_show_path(story), {class: "story-link"}) do %>
                            <u><%= story.title %></u>
                        <% end %>
                    </td>
                    <td><%= story.firstname %> <%= story.lastname %></td>
                    <td><%= story.genre %></td>
                    <td><%= raw story.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
</body>