<h1>Stories</h1>

<form action="/story/">
    <input type="text" value="" name="title">
    <input type="submit" value="Search by Title">
</form>
<form action="/story/">
    <input type="text" value="" name="author">
    <input type="submit" value="Search by Author">
</form>
<form action="/story/">
    <input type="text" value="" name="genre">
    <input type="submit" value="Search by Genre">
</form>
<form action="/story/">
    <input type="text" value="" name="tags">
    <input type="submit" value="Search by Tag">
</form>
<form action="/story/">
    <input type="submit" value="Clear Searches">
</form>

<div class = "col-md-8 offset 2">
    <table>
    <tr>
        <th> Title </th>
        <th> Author </th>
        <th> Genre </th>
        <th> Tag </th>
        <th> Link </th>
    </tr>
    <% @stories.each do |story| %>
        <tr>
            <td><%= story.title %></td>
            <td><%= story.firstname %> <%= story.lastname %></td>
            <td><%= story.genre %></td>
            <td><%= raw story.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
            <td><%= link_to "Read Story", story_path(story) %></td>
        </tr>
    <% end %>
    </table>
</div>