<div class = 'col-md-8 offset-2'>
  <h1><%=@story.title%></h1>
  <h2><%=@story.firstname%> <%=@story.lastname%></h2>
  <p><%=@story.genre%></p>
  <p><small>Tags: <%= raw @story.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small</p>
  <br>
  <iframe src="<%= url_for(@story.file) %>"  width = 700px height = 1000px> </iframe>
</div>
