<h2>Users</h2>
<br>
Admin count = <%= @admin_count %>
<br><br><br>

<% if @access %>

    <h3>
        Restricted Users:
    </h3>
    <br>
    <div> 
        <% @approval_queue.each do |user| %>
            <%= user.name %> : <%= user.email_address %> : <form action= "admin/approve"> <input type="hidden" name="sel_id" value="<%= user.user_id %>" /> <input type="submit" value="Unrestrict Account"> </form>
            <br>
            <br>
        <%end %>
    </div>
    
    <br><br>
    
    <h3>
        Unrestricted Users:
    </h3>
    <br>
    <div> 
        <% @users.each do |user| %>
            <% if user.admin %>
                <%= user.name %> : <%= user.email_address %> : Administrator :  
                <form action= "admin/revoke_admin"> <input type="hidden" name="sel_id" value="<%= user.user_id %>" /> <input type="submit" value="Revoke Admin Rights"> </form>
            <% else %>
                <%= user.name %> : <%= user.email_address %> : 
                <form action= "admin/make_admin"> <input type="hidden" name="sel_id" value="<%= user.user_id %>" /> <input type="submit" value="Make Admin"> </form>
            <% end %>
            <form action= "admin/restrict"> <input type="hidden" name="sel_id" value="<%= user.user_id %>" /> <input type="submit" value="Restrict User"> </form>
            <br>
            <br>
        <%end %>
    </div>
    
    <br>
    <br>

<% else %>

    Sorry, this page is just for admins...
    
<% end %>