<!DOCTYPE html>
<html>
  <head>
    <title>CWACloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= google_sign_in_button proceed_to: '/login' do %>
      Sign in with my Google %> account
    <% end %>
    <%= yield %>
  </body>
  
</html>
