<!DOCTYPE html>
<html>
  <head>
    <title>CWACloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg" style="font: 18px Montserrat, sans-serif; color: #f5f6f7;">
      <a class="navbar-brand" href="/">CWA</a>
      
      <a class="nav-link" href="/home">Home</a>
      <a class="nav-link" href="/story">Stories</a>
      <a class="nav-link" href="/story/new">Upload</a>
      <a class="nav-link" href="/admin">Admin</a>
      <a class="nav-link" href="/rules">Rules</a>
      
      <div style="margin-left:auto; display:inline-block">
          
        <%if @is_logged%>
          <div style="display:inline-block">
            Hello <%= @logged_user%>!
          </div>
        <% end %>
        
        <div style="display:inline-block; margin-left:12px; margin-right:10px">
          <%if @is_logged%>
            <%= button_to 'Sign out', '/login/out', method: :get %>
          <% else %>
            <%= google_sign_in_button proceed_to: '/login' do %>
              Sign In
            <% end %>
          <% end %>
        </div>
      
      </div>
      
      
      
    </nav>
    <%= yield %>
    
  </body>
  
</html>

<script>
  // $(document).on('turbolinks:load', function () {
  //   $('.story_tag_ids').chosen({
  //     allow_single_deselect: true,
  //     no_results_text: 'no results matched',
  //     width: '100%',
  //   })
  // });
  
  
</script>
